.busLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.seatRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.selected-seats {
    margin-top: 20px;
    font-weight: bold;
}

.total-price {
    margin-top: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.paymentButton {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.paymentButton:hover {
    background-color: #45a049;
}